<h1><font color="#004D7F" size=4>Pandas I</font></h1>

## <font color="#004D7F"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#113D68"></i> Exercise

1. Load the data from `data/titanic.csv`.

2. Establish the field 'Name' as the index.

3. Add a new column called 'adult'. The value of this field has to be True for every row in which the field 'Age' is greater or equal than 18.

4. How many people were not adults?

In [1]:
import pandas as pd

In [4]:
passengers=pd.read_csv('data/titanic.csv',index_col='Name')

In [6]:
passengers.head()

,PClass,Age,Sex,Survived,SexCode
Name,,,,,
"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
"Allison, Miss Helen Loraine",1st,2.00,female,0,1
"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [15]:
passengersv1=passengers.assign(
    Adult=lambda df:df['Age']>=18)

In [47]:
passengersv1['Adult'].value_counts().loc[False]

653

## <font color="#004D7F"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#113D68"></i> Exercise

Read the dataframe stored in the file `data/titanic.csv`.

1. How many unique classes are there? Which ones are those?

2. What class has more people?

3. Create a dataframe that contains the class with more people that also are not adults.

In [36]:
passengers=pd.read_csv('data/titanic.csv')

In [41]:
passengers['PClass'].nunique()

4

In [43]:
passengers['PClass'].unique()

array(['1st', '2nd', '*', '3rd'], dtype=object)

In [44]:
passengers['PClass'].value_counts()

3rd    711
1st    322
2nd    279
*        1
Name: PClass, dtype: int64

In [84]:
passengersv2=passengers[(passengers['PClass']=='3rd')&(passengers['Age']<18)]