<h1><font color="#004D7F" size=4>Pandas use case: Spotify</font></h1>

## <font color="#004D7F"> <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:#113D68"></i> Spotify

The file `datos/tracks.json` contains a total of 45128 spotify songs, each of them with the following information:
- track
- album
- artist
- duration in ms
- genres

Answer the following questions:

#### 1. What is the duration of the song `The Show Must Go On - Remastered 2011` from the band `Queen`?

In [1]:
import pandas as pd

In [2]:
df_tracks = pd.read_json('data/tracks.json')

In [3]:
df_tracks.head()

,track,album,artist,duration,genres
0,"Andante, Andante",Super Trouper,ABBA,278880,"[europop, swedish pop]"
1,As Good As New - Live,Live At Wembley Arena,ABBA,206080,"[europop, swedish pop]"
2,Bang-A-Boomerang,Abba,ABBA,185109,"[europop, swedish pop]"
3,Cassandra,The Visitors,ABBA,296705,"[europop, swedish pop]"
4,Chiquitita,Voulez-Vous,ABBA,328000,"[europop, swedish pop]"

In [7]:
df_tracks.loc[(df_tracks['track']=='The Show Must Go On - Remastered 2011')&(df_tracks['artist']=='Queen')]

,track,album,artist,duration,genres
33336,The Show Must Go On - Remastered 2011,Innuendo (2011 Remaster),Queen,277827,"[album rock, classic rock, glam rock, heavy ch..."

#### 2. How many different songs has the band `Queen` remastered? In other words, how many of their songs contain the text `Remastered`?

In [12]:
df_tracks.loc[(df_tracks['track'].str.contains('Remastered'))&(df_tracks['artist']=='Queen')]['track'].nunique()

91

#### 3. How many different artists are there in the data? And how many different songs?

In [15]:
{'number_of_artists':df_tracks['artist'].nunique(),'number_of_songs':df_tracks['track'].nunique()}

{'number_of_artists': 1485, 'number_of_songs': 39455}

#### 4. - Which song has the highest number of genres? And which one with the lowest?

In [19]:
len(df_tracks['genres'][0])

2

In [21]:
df_tracks.assign(n_genres=df_tracks['genres'].apply(lambda x: len(x))).nlargest(1,'n_genres')

,track,album,artist,duration,genres,n_genres
15964,Amorphous Surprise,The Bears for Lunch,Guided By Voices,119467,"[alternative country, alternative pop, alterna...",31

In [22]:
df_tracks.assign(n_genres=df_tracks['genres'].apply(lambda x: len(x))).nsmallest(1, "n_genres")

         track album artist  duration genres  n_genres
200  All I Ask    25  Adele    271800  [pop]         1

#### 5. What is the total duration of all the songs?

In [26]:
str(df_tracks['duration'].sum())+' miliseconds'

'10892558250 miliseconds'

#### 6. Which artist has composed more songs?

In [46]:
(
    df_tracks
    .groupby('artist')
    .count()
    [['track']]
    .nlargest(1,'track')
)

               track
artist
George Strait    179

#### 7. Which album contains more songs? And which album has more different artists?

In [47]:
(
    df_tracks
    .groupby('album')
    [['track']]
    .nunique()
    .sort_values('track',ascending=False)
)

                                                    track
album
Greatest Hits                                         114
Love Songs                                             74
The Complete Hank Williams                             64
Roy Orbison: The MGM Years 1965 - 1973 (Remaste...     58
The Collection                                         47
...                                                   ...
Living With the Big Lie (2018 Steven Wilson Remix)      1
Living Under June                                       1
LivePhish, Vol. 9 8/26/89 (Townshend Famlly Par...      1
LivePhish, Vol. 6 11/27/98 (The Centrum, Worces...      1
真愛 新曲 + 真正精選                                            1

[10406 rows x 1 columns]

In [48]:
(
    df_tracks
    .groupby('album')
    [['artist']]
    .nunique()
    .sort_values('artist',ascending=False)
)

                    artist
album
Greatest Hits           44
Love Songs              23
The Collection          13
The Best Of             10
Anthology                9
...                    ...
Heartbreak Express       1
Heartbreak Jazz          1
Heartbreak Station       1
Heartbreak Trail         1
真愛 新曲 + 真正精選             1

[10406 rows x 1 columns]

#### 8. Which album has the highest duration?

In [49]:
(
    df_tracks
    .groupby("album")
    [["duration"]]
    .sum()
    .sort_values("duration", ascending=False)
)

                                                    duration
album
Greatest Hits                                       26656220
Love Songs                                          17973542
The Collection                                      10293920
Roy Orbison: The MGM Years 1965 - 1973 (Remaste...   9653336
The Complete Hank Williams                           9306227
...                                                      ...
America's Hottest TV Themes                            29394
Northrop Auditorium, Minneapolis, Oct. 19 1971 ...     20933
A Thousand Suns (Bonus Version)                        18333
50 Tracks of Quality Halloween Sound Effects & ...     18065
Halloween Party                                        13250

[10406 rows x 1 columns]

#### 9. Which artists makes on average the longest songs? And which one the shortests?

In [56]:
(
    df_tracks
    .groupby('artist')
    .mean('duration')
    .nlargest(1,'duration')
)

              duration
artist
Blind Faith  1156227.0

In [57]:
(
    df_tracks
    .groupby('artist')
    .mean('duration')
    .nsmallest(1,'duration')
)

               duration
artist
Halloween AAA   13250.0

#### 10. What percentage of all the songs belong to the rock genre?

In [60]:
(
    df_tracks
    .assign(
        is_rock=lambda df:df['genres'].map(lambda genres:any('rock' in g for g in genres))
    )
    .agg({'is_rock':lambda s:s.sum()/s.count()})
)

is_rock    0.710091
dtype: float64